################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ChatApp
/bin/Debug/net6.0
/obj
/ChatApp.csproj.user
/bin/Release/net6.0
/.vs/ProjectEvaluation
